<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.mirego.ekiden</string>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>/Users/admin/vm/launch.sh</string>
    </array>
    <key>UserName</key>
    <string>admin</string>
    <key>WorkingDirectory</key>
    <string>/Users/admin/vm</string>
    <key>StandardErrorPath</key>
    <string>/Users/admin/vm/stderr</string>
    <key>StandardOutPath</key>
    <string>/Users/admin/vm/stdout</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
